/build
/node_modules
/npm-debug.log
/*.sublime-workspace
/*.sublime-project
*.swp
*.swo
/.vs
.vscode/settings.json
/deploy.sh
/configs.json
/src/js/configs/private/**
!/src/js/configs/private/.preserve
/configs.overlay.json