$fw-chat-panel-border-width: 2;
$fw-chat-controls-button-diameter: 28;
$fw-chat-controls-button-border-width: 2;
$fw-aux-controls-button-diameter: 28;
$fw-aux-controls-button-border-width: 2;
%controls-inactive {
  opacity: 0.1;
  -webkit-transition: opacity 1s;
  -webkit-transition-delay: 500ms;
  transition: opacity 1s;
  transition-delay: 500ms;
}
%controls-active {
  opacity: 1;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

// Bootstrap tweaks

.navbar-fixed-top {
  position: static;
  right: auto;
  left: auto;
}

#wrap > .navbar.navbar-inverse {
  background: rgba(0, 0, 0, 0.3) !important;
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
  border-radius: 0 !important;
}

.navbar.enhanced > .navbar {
  background: none;
  margin-bottom: 0;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  min-height: 30px;
  padding: 0 15px;

  @media screen and (max-width: 768px) {
    &.lower {
      display: none !important;
    }
  }

  & > ul > li > a {
    padding-top: 5px;
    padding-bottom: 5px;

    img.icon {
      float: left;
      max-height: 18px;
    }
  }
}

.navbar-inverse .navbar-nav > li > a:focus {
  background: rgba(255, 255, 255, 0.03);
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-text {
  font-size: 12px;
}
.dropdown-menu .divider {
  margin: 4px 0;
}
.dropdown-menu > li > a:hover {
  background-color: #0091ff;
}

.navbar-collapse.collapse.in {
  width: 100%;
}

@media (min-width: 768px) {
  .navbar-right {
    margin-right: 0 !important;

    li:last-child a {
      border-right: 1px solid rgba(0, 0, 0, 0.3);
    }
  }
}

@media (min-width: 768px) {
  .profile-button {
    & > a {
      vertical-align: middle;
      display: table-cell !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      height: 50px;
    }
  }
}

.navbar-collapse.collapse.in.profile-button > a {
  width: 100%;
}

.navbar-inverse .navbar-nav {
  & > .open > a,
  & > .open > a:focus,
  & > .open > a:hover {
    background: #0091ff !important;
  }
}

#ChannelList .dropdown-menu {
  li a {
    padding-left: 10px;

    .badge {
      width: 36px;
    }
  }
}

.btn {
  border: 0;

  &.active.focus,
  &.active:focus,
  &.focus,
  &:active.focus,
  &:active:focus,
  &:focus {
    outline: #66afe9 auto 1px !important;
  }
}
.form-control {
  border-color: #656565;
}

.btn-purple {
  border-color: transparent !important;
  background-repeat: repeat !important;
}

.display-none {
  display: none;
}

.well,
.btn {
  border: 0;
}
#queue,
div#plmeta {
  border-width: 0 !important;
}

.navbar,
.well,
.form-group {
  margin-bottom: 15px;
}

// === main ===

#mainpage {
  padding-top: 0;
}

#main {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 15px;
}

#videowrap,
#chatwrap {
  padding-left: 0;
}

.fw-start .glyphicon {
  top: 0;
}

// === motd ===

#motdrow {
  & > div {
    #motdwrap {
      margin-bottom: 15px !important;
      padding: 10px 27px 10px 10px;
      font-size: 12px;
      margin-top: -10px;
      margin-right: -10px;
      margin-left: -10px;

      .close {
        right: 12px;
        top: -11px;
      }
    }
  }
}

.modal-body #motdrow > div #motdwrap {
  margin-bottom: -10px !important;
  padding: 10px;

  #togglemotd {
    display: none;
  }
}

body.fw #motdrow {
  & > div {
    #motdwrap {
      margin-top: 0;
      margin-right: 0;
      margin-left: 0;
    }
  }
}

// === videowrap ===

#videowrap {
  margin-right: 0;
  padding-right: 15px;
  margin-bottom: 15px !important;
  bottom: 0 !important;
}

body.fw {
  #videowrap #videowrap-header,
  #main {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-left: 0;
  }

  #videowrap #videowrap-header,
  #resize-video-smaller,
  #resize-video-larger {
    display: none;
  }
}

#videowrap-header {
  position: relative !important;
  display: block;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  min-height: 24px;
  padding-top: 0px;
  height: auto;
  overflow: visible !important;
}

#currenttitle {
  //position: absolute !important;
  padding-top: 0 !important;
  height: 24px !important;
  line-height: 24px;
  max-width: none !important;
  //width: 60%;
  //left: 0px;
  //top: 0;
  //bottom: auto;
  //right: auto;
  padding-left: 5px;
  margin: 0;
  overflow: visible;
}

#currentblame {
  //position: absolute;
  //top: 0;
  //right: 0;
  line-height: 24px;
  margin: 0 8px 0 3px;
}

#resize-video-smaller,
#resize-video-larger {
  margin: 3px 3px 0 0;
}

// killScreen

.killScreen {
  width: 100%;
  height: 100%;
  background: transparent;
  text-align: center;
  font-size: 24px;
  color: #62c462;
  font-weight: bold;
  text-shadow: 0 0 3px #000000;
}

// Allow Prompt

div.profile-box {
  border: 0;
  #chanjs-allow-prompt {
    #chanjs-allow-prompt-buttons {
      #chanjs-allow {
        float: left;
        width: 100%;
        margin-bottom: 2px;
        font-weight: bold;
        font-size: 17px;
      }
      #chanjs-deny {
        clear: left;
        width: 100%;
      }
    }

    & > .checkbox {
      margin-bottom: 0;
      label {
        padding-left: 26px;
        font-size: 12px;
        line-height: 12px;
      }
      input {
        margin-left: -22px;
      }
    }
  }
}

// === chatwrap ===

#chatwrap {
  position: relative;
  overflow: visible !important;
  overflow-y: visible !important;
  top: 0 !important;
  margin-bottom: 15px !important;
  padding-right: 15px;
}
#chatheader {
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 0;
  padding-left: 2px;
  padding-right: 2px;
  min-height: 24px;
  height: auto !important;
}
#chatheader .label {
  line-height: inherit;
  margin-top: 0;
  margin-bottom: 2px;
  height: 20px;
}
#userlisttoggle {
  height: 100% !important;
  margin-left: 3px;
  margin-right: 3px;
}
#usercount {
  display: inline-block;
  height: 20px;
  margin-bottom: 2px;
  line-height: 20px;
  padding-left: 2px;
}
#afkCount {
  position: static !important;
  line-height: 20px;
  margin-bottom: 2px;
}
#chatheader {
  & > div {
    padding: 0 2px;
  }
  .afkusercount {
    display: none;
    line-height: 20px;
  }
  .activeusercount {
    display: inline-block;
    border-right: 0;
    line-height: 20px;
  }
}

.ChatOptions > .dropdown-menu > li > a > i.fa:first-child {
  display: inline-block;
  margin-left: -10px;
  width: 24px;
  text-align: center;
}

#userlist {
  border-bottom: 0;
  border-right: 0;
}

#messagebuffer {
  position: relative;
  border-bottom: 0;
}

#newmessages-indicator {
  position: absolute;
  top: auto;
  right: 0px;
  bottom: 38px;
  left: 0px;
  padding-right: 15px;
  position: absolute !important;
  padding-left: 119px;
}
body.fw #newmessages-indicator {
  padding-right: 0;
  bottom: 0px;
}
#newmessages-indicator-bghack {
  padding: 4px 0;
  border-radius: 3px;
  opacity: 0.9;
}

#messagebuffer > div strong .user-link {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

#chatline,
#chatinput input {
  border-radius: 0;
  border-color: #3a3f44;

  &:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #66afe9 !important;
  }
}

// === controlsrow ===

#emote_suggest {
  display: none;
  margin-bottom: 0;

  &.well {
    position: absolute;
    left: 0;
    top: 100%;
    padding-bottom: 0;
    z-index: 2000;
    padding: 6px;
    padding: 6px;
  }
}

#controlsrow {
  padding-left: 15px;
  margin-top: 0;

  & > div {
    padding-left: 0;
    padding-top: 0 !important;
    bottom: 0 !important;

    & > button,
    & > div {
      margin-bottom: 15px;
    }
  }
}

// === lower leftpane ===

#leftpane-inner {
  padding-right: 10px;
}

#pollwrap {
  padding-right: 0;
  margin-bottom: 15px;

  & > div {
    margin-top: 0;
    margin-right: 5px;
    margin-bottom: 15px;

    &:last-child {
      margin-top: 0;
      margin-bottom: 0;
    }
    & > .close.pull-right {
      margin-top: -14px;
      margin-right: -9px;
      margin-left: 8px;
    }
    & > .btn.pull-right {
      margin-top: -15px;
      margin-left: 2px;
      &:first-child {
        margin-right: -16px;
      }
    }
    & > .btn.pull-left {
        margin-top: -15px;
        margin-left: 2px;
        &:first-child {
          margin-right: -16px;
      }
    }
    .label.label-default.pull-right {
      margin-right: -16px;
    }

    h3 {
      font-size: 20px;
    }
  }
  &.col-lg-12.col-md-12 {
    min-height: 158px !important;
    background-position: center 13px !important;
  }
  & .btn.btn-sm.pull-right {
    margin-left: 2px;
  }
}

// === lower rightpane ===

#rightpane-inner {
  margin-bottom: 15px;
}

#playlistrow {
  bottom: 0 !important;
  padding-left: 15px;

  & > div {
    padding-right: 15px;
    padding-left: 0;
    margin-bottom: 0;
  }
}

.videolist > li {
  border-bottom: 0;

  &:first-child {
    border-top-width: 0;
  }
}

.plcontrol-collapse > .vertical-spacer:first-child,
#queuefail > .vertical-spacer:first-child {
  display: none;
}

#library {
  margin-bottom: 0;
}

#recentmedia-list {
  margin-bottom: 15px;
  border: 1px solid #000000;

  li {
    border-top: 0px;
    border-left: 1px solid #000000;

    &:nth-child(even) {
      background: rgba(255, 255, 255, 0.04);
    }
    &:last-child {
      border-bottom: 0px;
    }
  }
}

#playlistmanagerwrap {
  margin-top: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

/* full windowing shit */

.embed-responsive,
.embed-responsive-item {
  clear: both;
}

body.fw {
  .fw-showOn {
    display: block;
  }

  .navbar.upper {
    position: static;
    margin-top: 100vh;
  }

  #videowrap {
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    padding-bottom: 0;
    #currenttitle {
      display: none;
    }
  }

  .embed-responsive {
    position: relative;
    height: 100vh;
    border: 0;
    padding-bottom: 0;
  }

  .embed-responsive-item {
    width: 100%;
    height: 100vh;

    iframe {
      position: static;
    }

    .vjs-tech {
      position: static;
    }
  }

  #chatwrap {
    background-color: rgba(0, 0, 0, 0.6) !important;
  }

  #messagebuffer {
    margin-bottom: 10px;
    border: 0;
  }

  &.fw-chat-open {
    /*
    .embed-responsive .videochatContainer
    {
      opacity: 0;
    }
    */
    .embed-responsive-item {
      padding-left: 498px;
    }
  }

  &.fw-overlay.fw-chat-open {
    .embed-responsive-item {
      padding-left: 0;
    }
  }

  &.fw-chat-right {
    &.fw-chat-open {
      .embed-responsive-item {
        padding-left: 0;
        padding-right: 498px;
      }
    }

    &.fw-overlay.fw-chat-open {
      .embed-responsive-item {
        padding-right: 0;
      }
    }
  }
}

body.fw {
  #emote_suggest.well {
    left: 100%;
    top: auto;
    bottom: 0;
  }
  &.fw-chat-open #emote_suggest.well {
    left: 0;
  }
}

// === fw chatline/guestline ===

body.fw {
  #guestlogin,
  #chatline {
    position: absolute;
    bottom: 45px;
    left: 0;
    right: auto;
    z-index: 990;
    width: 500px;
    opacity: 0.25;
    border-width: 2px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &:focus {
      border-color: #66afe9;
    }
  }

  &.fw-chat-open {
    #guestlogin,
    #chatline {
      position: absolute;
      bottom: 0;
      opacity: 1;
      background: rgba(0, 0, 0, 0.67) !important;
      border-color: rgba(222, 222, 222, 0.5);

      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;

      &:focus {
        border-color: #66afe9;
      }
    }
  }

  &.fw-overlay {
    #guestlogin,
    #chatline {
      position: absolute;
      bottom: 45px;
    }
  }

  &.fw-overlay.fw-chat-open {
    #guestlogin,
    #chatline {
      bottom: 45px;

      border-top-right-radius: 0;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 0;
    }
  }

  &.fw-chat-right {
    #guestlogin,
    #chatline {
      right: 0;
      left: auto;
      border-top-left-radius: 4px;
      border-top-right-radius: 0;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 0;
    }

    &.fw-chat-open {
      #guestlogin,
      #chatline {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &.fw-overlay.fw-chat-open {
      #guestlogin,
      #chatline {
        border-bottom-left-radius: 4px;
      }
    }
  }

  #guestlogin {
    #guestname {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    span.input-group-addon {
      border-bottom-left-radius: 0px;
    }
  }
  #chatline:focus {
    opacity: 1;
  }

  #controlsrow {
    margin-left: 0px;
    margin-right: 0px;
  }
}

// === left-floating panel ===

body.fw {
  .fw-chat-panel {
    box-sizing: border-box;
    position: absolute;
    left: -500px;
    top: 80px;
    bottom: 83px;
    width: 500px;
    z-index: 999;
    border-top: #{$fw-chat-panel-border-width}px solid rgba(222, 222, 222, 0.5);
    border-right: #{$fw-chat-panel-border-width}px solid rgba(222, 222, 222, 0.5);
    border-bottom: 0; //#{$fw-chat-panel-border-width}px solid rgba(222, 222, 222, .5);
    border-radius: 0 3px 3px 0;
    bottom: 83px;

    .inner {
      box-sizing: border-box;
      width: 100%;
      //height: 100%;
      background: rgba(0, 0, 0, 0.67);
    }

    #chatwrap {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      //height: 100% !important;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  &.fw-chat-open {
    .fw-chat-panel {
      bottom: 38px;
      left: 0;
      top: 0;
      border-top: 0px;
      border-radius: 0px;
    }
  }

  &.fw-overlay.fw-chat-open {
    .fw-chat-panel {
      bottom: 83px;
    }
  }

  #chatwrap {
    #chatheader {
      height: 20px;
      border: 0;

      .label {
        line-height: 13px;
      }
    }
    #userlist {
      //height: 100% !important;
      border: 0;
    }
    #messagebuffer {
      margin-bottom: 0;
      //height: 100% !important;
    }
  }

  &.fw-chat-right {
    .fw-chat-panel {
      border-right: 0;
      border-left: #{$fw-chat-panel-border-width}px solid rgba(222, 222, 222, 0.5);
    }

    &.fw-chat-open {
      .fw-chat-panel {
        left: auto;
        right: 0;
        border-top: 0px;
      }
    }
  }
}

// === left-floating controls ===

.fw-chat-controls {
  display: none;
  position: absolute;
  left: 0;
  top: 30%;
  z-index: 999;
  padding: 2px;
  background: rgba(222, 222, 222, 0.5);
  border-radius: 0 3px 3px 0;
  @extend %controls-inactive;

  &:hover {
    @extend %controls-active;
  }

  .button {
    position: relative;
    box-sizing: border-box;
    display: block;
    width: #{$fw-chat-controls-button-diameter}px;
    height: #{$fw-chat-controls-button-diameter}px;
    color: rgba(22, 22, 22, 0.7);
    background: none;
    text-align: center;
    line-height: #{$fw-chat-controls-button-diameter + 1}px;
    text-decoration: none;
    cursor: pointer;
    border-radius: #{$fw-chat-controls-button-diameter / 2}px;

    .button-label {
      display: none;
      position: absolute;
      top: 0;
      left: #{$fw-chat-controls-button-diameter + 5}px;
      margin-bottom: 0;
      height: #{$fw-chat-controls-button-diameter}px;
      background: #121212;
      border-radius: 3px;
      line-height: #{$fw-chat-controls-button-diameter}px;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      padding: 0 6px;
      color: #ffffff;
      font-size: 14px;
    }
  }
}

body.fw {
  .fw-chat-controls {
    display: block;
  }

  &.fw-chat-open {
    .fw-chat-controls {
      left: 500px;
      padding: 2px 2px 2px 0;
    }
  }

  &.fw-chat-right {
    .fw-chat-controls {
      left: auto;
      right: 0;
      padding: 2px;
      border-radius: 3px 0 0 3px;
    }

    &.fw-chat-open {
      .fw-chat-controls {
        left: auto;
        right: 500px;
        padding: 2px 0 2px 2px;

        .button .button-label {
          right: #{$fw-aux-controls-button-diameter + 5}px;
          left: auto;
          height: #{$fw-chat-controls-button-diameter}px;
        }
      }
    }
  }
}

.fw-chat-controls .button.selected,
body.fw-chat-open .fw-chat-controls .button.chat,
body.nnd .fw-chat-controls .button.nnd-toggle,
body.fw-overlay .fw-chat-controls .button.fw-overlay-toggle,
.fw-aux-controls .button.selected {
  border: 2px solid rgba(22, 22, 22, 0.7);
  line-height: #{$fw-chat-controls-button-diameter - 3}px;
  background: transparent;
}
.fw-chat-controls .button:hover,
.fw-chat-controls .button.selected:hover,
body.fw-chat-open .fw-chat-controls .button.chat:hover,
body.nnd .fw-chat-controls .button.nnd-toggle:hover,
body.fw-overlay .fw-chat-controls .button.fw-overlay-toggle:hover,
.fw-aux-controls .button.selected:hover {
  border: 0;
  line-height: #{$fw-chat-controls-button-diameter + 1}px;
  text-decoration: none;
  background: #121212;
  color: #ffffff;
  text-shadow: none;
  box-shadow: none;
}

.fw-aux-controls {
  display: none;
  position: fixed;
  right: 0;
  top: 30%;
  z-index: 999;
  padding: 2px;
  background: rgba(222, 222, 222, 0.5);
  border-radius: 3px 0 0 3px;
  @extend %controls-inactive;
  &:hover {
    @extend %controls-active;
  }
}

body.fw {
  .fw-aux-controls {
    display: block;
  }

  &.fw-chat-right {
    .fw-aux-controls {
      left: 0;
      right: auto;
      padding: 2px;
      border-radius: 0 3px 3px 0;

      .button .button-label {
        left: #{$fw-aux-controls-button-diameter + 5}px;
        right: auto;
        height: #{$fw-chat-controls-button-diameter}px;
      }
    }
  }
}

.fw-aux-controls .button {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: #{$fw-chat-controls-button-diameter}px;
  height: #{$fw-chat-controls-button-diameter}px;
  color: rgba(22, 22, 22, 0.7);
  background: none;
  text-align: center;
  line-height: #{$fw-chat-controls-button-diameter + 1}px;
  text-decoration: none;
  cursor: pointer;
  border-radius: #{$fw-chat-controls-button-diameter / 2}px;

  .button-label {
    display: none;
    position: absolute;
    top: 0;
    right: #{$fw-aux-controls-button-diameter + 5}px;
    margin-bottom: 0;
    height: #{$fw-chat-controls-button-diameter}px;
    background: #121212;
    border-radius: 3px;
    line-height: #{$fw-chat-controls-button-diameter}px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 0 6px;
    color: #ffffff;
    font-size: 14px;
  }

  &:hover {
    border: 0;
    text-decoration: none;
    background: #121212;
    color: #ffffff;
    text-shadow: none;
    box-shadow: none;
  }
}

.fw-chat-controls .button:hover,
.fw-aux-controls .button:hover {
  .button-label {
    display: block;
  }
}
@media screen and (max-width: 700px) {
  body.fw.fw-chat-open .fw-chat-controls .button,
  body.fw.fw-chat-open .fw-aux-controls .button {
    &:hover .button-label {
      display: none;
    }
  }
}

body.small-emotes .channel-emote {
  max-height: 24px !important;
}

.xhc {
  position: relative;
  user-select: none;
  pointer-events: none;
}
.emote-xmashat {
  position: absolute;
  max-width: 46px;
  top: -30px;
  left: -13px;
  opacity: 0.85;
  user-select: none;
  pointer-events: none;
}
body.small-emotes .emote-xmashat {
  max-width: 16px !important;
  top: -8px !important;
  left: -5px !important;
}
